<div class="container navigation">
  <div class="row">
    <div class="column">
    {{#each navigation}}
      <a class="button button-large{{#if this.active}} button-outline{{else}} button-clear{{/if}}" href="{{this.href}}">{{this.text}}</a>
    {{/each}}
    </div>
  </div>
</div>
