<div class="container">
  <div class="row">
    <div class="column">
    {{#each navigation}}
      <a class="button button-large{{#if this.active}}{{else}} button-outline{{/if}}" href="{{this.href}}">{{this.text}}</a>
    {{/each}}
    </div>
  </div>
</div>
