<div class="header__quotation container">
  <div class="row">
    <div class="column">
      <blockquote class="quotation__blockquote">
        <p class="quotation__paragraph">
          <em>"{{quotation.text}}"</em> ~ {{quotation.attribution}}
        </p>
      </blockquote>
    </div>
  </div>
</div>
