<div class="header__quotation container">
  <div class="row">
    <div class="column">
      <blockquote class="quotation__blockquote">
        <p class="quotation__text">
          <em>"{{quotation.text}}"</em>
        </p>
        <p class="quotation__attribution">
          &mdash; {{quotation.attribution}}
        </p>
      </blockquote>
    </div>
  </div>
</div>
