<div class="header__quotation container">
  <div class="row">
    <div class="column">
      <blockquote>
        <p>
          <em>"{{quotation.text}}"</em> ~ {{quotation.attribution}}
        </p>
      </blockquote>
    </div>
  </div>
</div>
