<div class="container">
  <h1>{{title}}</h1>
  <p>
    I use these at work:
  </p>
  <ul>
    <li>Django</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>React</li>
  </ul>
  <p>
    These at home:
  </p>
  <ul>
    <li>Arduino</li>
    <li>C/C++</li>
    <li>Express</li>
    <li>Node.js</li>
  </ul>
  <p>
    And over the past three decades, I've developed solutions using:
  </p>
  <ul>
    <li>Backbone.js</li>
    <li>BASIC</lI>
    <li>C#</li>
    <li>CodeSmith Generator</li>
    <li>Ext JS</li>
    <li>DataFlex</li>
    <li>Java</li>
    <li>MCL-Designer</li>
    <li>Microchip PIC assembly language</li>
    <li>Moovweb</li>
    <li>Pascal</li>
    <li>Perl/CGI</li>
    <li>PHP</li>
    <li>Visual Basic</li>
    <li>x86 assembly language</li>
  </ul>
</div>
