<div class="container">
  <div class="row">
    <div class="column">
      <h1>{{title}}</h1>
      <p>
        I use these at work:
      </p>
      <ul>
        <li>Express</li>
        <li>JavaScript</li>
        <li>Node.js</li>
      </ul>
      <p>
        And these at home:
      </p>
      <ul>
        <li>Arduino</li>
        <li>C/C++</li>
      </ul>
    </div>
  </div>
</div>
