<div class="container">
  <h1>{{title}}</h1>
  <p>
    Things I've finished so far in 2019:
  </p>
  <ul>
    <li>
      <a href="http://www.bizzley.com/">It's Behind You: The Making of a Computer Game</a>
    </li>
    <li>
      <a href="https://phaser.io/shop/books/phaser3-cross-platform-games">HTML5 Cross Platform Game Development Using Phaser 3</a>
    </li>
    <li>
      <a href="https://leanpub.com/nodecraftsman">The Node Craftsman Book</a>
    </li>
    <li>
      <a href="https://leanpub.com/nodebeginner">The Node Beginner Book</a>
    </li>
    <li>
      <a href="https://www.firewatchgame.com/">Firewatch</a>
    </li>
    <li>
      <a href="https://en.wikipedia.org/wiki/Burning_Chrome_(short_story_collection)">Burning Chrome</a>
    </li>
  </ul>
</div>
