<div class="container">
  <h1>{{title}}</h1>
  <p>
    Things I've finished so far in 2019:
  </p>
  <ul>
    <li>
      <a href="https://www.themystica.com/sacred-magic-abramelin-mage/">The Book of the Sacred Magic of Abramelin the Mage</a>
    </li>
    <li>
      <a href="https://www.amazon.co.uk/gp/product/B07FQJYLJ3/ref=ppx_yo_dt_b_d_asin_title_o02?ie=UTF8&psc=1">NodeMCU ESP8266 Communication Methods and Protocols</a>
    </li>
    <li>
      <a href="https://scotch.io/tutorials/getting-started-with-node-express-and-postgres-using-sequelize">Getting Started with Node, Express and Postgres Using Sequelize</a>
    </li>
    <li>
      <a href="https://linuxconfig.org/how-to-create-a-docker-based-lamp-stack-using-docker-compose-on-ubuntu-18-04-bionic-beaver-linux">How to create a docker-based LAMP stack using docker-compose on Ubuntu 18.04 Bionic Beaver Linux</a>
    </li>
    <li>
      <a href="https://www.alawar.com/game/twisted-lands-shadow-town/">Twisted Lands: Shadow Town</a>
    </li>
    <li>
      <a href="http://www.bizzley.com/">It's Behind You: The Making of a Computer Game</a>
    </li>
    <li>
      <a href="https://phaser.io/shop/books/phaser3-cross-platform-games">HTML5 Cross Platform Game Development Using Phaser 3</a>
    </li>
    <li>
      <a href="https://leanpub.com/nodecraftsman">The Node Craftsman Book</a>
    </li>
    <li>
      <a href="https://leanpub.com/nodebeginner">The Node Beginner Book</a>
    </li>
    <li>
      <a href="https://www.firewatchgame.com/">Firewatch</a>
    </li>
    <li>
      <a href="https://en.wikipedia.org/wiki/Burning_Chrome_(short_story_collection)">Burning Chrome</a>
    </li>
  </ul>
  <p>
    And things I'm [still] attempting to finish:
  </p>
  <ul>
    <li>
      <a href="https://www.alawar.com/game/eternal-journey-new-atlantis/">Eternal Journey: New Atlantis</a>
    </li>
    <li>
      Mastering Flask Web Development (page 98 of 327)
    </li>
    <li>
      Learning React (page 123 of 350)
    </li>
  </ul>
</div>
