<div class="container">
  <div class="row">
    <div class="column">
      <blockquote>
        <p>
          <em>"Do not meddle in the affairs of wizards, for they are subtle and
          quick to anger."</em> ~ J. R. R. Tolkien, The Fellowship of the Ring
        </p>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h1>{{title}}</h1>
      <h2>Coming soon...</h2>
    </div>
  </div>
</div>
