<h1>{{title}}</h1>
<ul>
  <li>
    <a href="https://github.com/ajbkr">GitHub</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/ajbkr">LinkedIn</a>
  </li>
  <li>
    <a href="https://twitter.com/ajbkr">Twitter</a>
  </li>
</ul>
<h2>Andrew J. Baker's personal Web site</h2>
<h3>Coming soon...</h3>
