<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" rel="stylesheet" />
    <link href="/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/stylesheets/milligram.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h4>ajbkr.com</h4>
        </div>
        <div class="column column-50 column-offset-25">
          <a class="button button-clear"
           href="https://github.com/ajbkr">GitHub</a>
          <a class="button button-clear"
           href="https://www.linkedin.com/in/ajbkr">LinkedIn</a>
          <a class="button button-clear"
           href="https://twitter.com/ajbkr">Twitter</a>
        </div>
      </div>
    </div>

    {{{body}}}
  </body>
</html>
