<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/flat-icons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" rel="stylesheet" />
    <link href="/stylesheets/normalize.min.css" rel="stylesheet" />
    <link href="/stylesheets/milligram.min.css" rel="stylesheet" />
    <link href='/stylesheets/style.css' rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{#if title}}{{title}} - {{/if}}ajbkr.com</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h4 class="ajbkr-com"><a href="/"><span class="bold">ajbkr</span>.com</a></h4>
          <div class="social-icons" style="display: inline-block; text-align: right; width: 49%">
            <a href="https://github.com/ajbkr"><span class="fl-icon-github" /></a>
            <a href="https://www.linkedin.com/in/ajbkr"><span
             class="fl-icon-linkedin" /></a>
            <a href="https://twitter.com/ajbkr"><span
             class="fl-icon-twitter" /></a>
          </div>
        </div>
      </div>
    </div>

    {{#if quotation}}
      {{> quotation}}
    {{/if}}

    {{#if navigation}}
      {{> navigation}}
    {{/if}}

    {{{body}}}
  </body>
</html>
