<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" rel="stylesheet" />
    <link href="/stylesheets/normalize.css" rel="stylesheet" />
    <link href="/stylesheets/milligram.min.css" rel="stylesheet" />
<!--    <link rel='stylesheet' href='/stylesheets/style.css' />-->
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
