<!doctype html>
<html class="h-100" lang="en">
  <head>
{{#if production}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15078309-4"></script>
    <script>
/* eslint-disable */
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-15078309-4');
/* eslint-enable */
    </script>
{{/if}}
    <!--[if IE]><link rel="shortcut icon" href="/favicons/favicon.ico" /><![endif]>-->
    <link href="/favicons/images/apple-touch-icon-precomposed.png"
     rel="apple-touch-icon-precomposed" />
    <link href="/favicons/images/android-chrome-192x192.png"
     rel="icon" />
    <meta content="/favicons/browserconfig.xml" name="msapplication-config" />
    <link href="/stylesheets/flat-icons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
     rel="stylesheet" />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{#if title}}{{title}} - {{/if}}ajbkr.com</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="header__title navbar-brand"
         href="/"><span class="bold">ajbkr</span>.com</a>
        <ul class="social-icons navbar-nav">
          <li class="social-icons__list-item nav-item"><a class="fl-icon-github"
           href="https://github.com/ajbkr"></a></li><li
           class="social-icons__list-item nav-item"><a class="fl-icon-linkedin"
           href="https://www.linkedin.com/in/ajbkr"></a></li><li
           class="social-icons__list-item nav-item"><a class="fl-icon-twitter"
           href="https://twitter.com/ajbkr"></a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarCollapse" aria-controls="navbarCollapse"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {{#if navigation}}
          {{> navigation}}
        {{/if}}
      </nav>
      {{#if quotation}}
        {{> quotation}}
      {{/if}}
    </header>

    <main class="flex-shrink-0" role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            {{{body}}}
          </div>
          <div class="profile col-md-2">
            <img class="profile__avatar" alt="Andrew J. Baker's avatar"
             src="{{gravatarImageUrl}}" />
            <p class="profile__fullname">[!]Andrew J. Baker</p>
            <p class="profile__username">ajbkr</p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Copyright &copy;
         <span class="year"></span>Andrew J. Baker&nbsp;&nbsp;ALL RIGHTS
         RESERVED</span>
      </div>
    </footer>
  </body>
  <script>
document.querySelector('.year').innerHTML = '2016-' +
 new Date().getFullYear() + ' '
  </script>
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/popper.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</html>
