<div class="container">
  <h1>{{title}}</h1>
{{!--  <p>
    In January 2019 I closed my official LinkedIn account because I had grown
    tired of being too frequently contacted by recruiters with unappealing job
    proposals.
  </p>
  <p class="recruiters">
    RECRUITERS: If you or your clients are familiar with Ego Development,
    Gifted Adults, Integral Theory, Spiral Dynamics, or Transpersonal
    Development, I should be considered a "potential candidate". If not, kindly
    pass me by.
  </p>
  <hr />--}}
  <p>
    <span class="intro__name">Andrew J. Baker</span><br />
    <span class="intro__headline">Front-end Developer at PrimarySite
     Limited</span><br />
    <span class="intro__current-position">Meden Vale, Nottinghamshire, United
     Kingdom</span>
  </p>
  <p>
    Senior software engineer, generalising specialist, and developer developer.
    Loves to learn and to teach with specific interests in positive adult
    development and transpersonal leadership. Possessing an individuated
    character (read: very mature, from an ego development/action logic
    perspective). Enlightened being. Naughtypants.
  </p>
  <hr />
  <h3>Experience</h3>
  <p>
    <span class="experience__title">Front-end Developer</span><br />
    <span class="experience__company">PrimarySite Limited</span><br />
    <span class="experience__from-to">Feb 2015&mdash;Present - 4+ yrs</span><br />
    <span class="experience__location">Newark, Nottinghamshire, UK</span>
  </p>
  <p>
    Member of a sixteen-strong Agile/Lean product development department,
    leading the engagement team, and providing tech lead expertise when
    appropriate. Jointly responsible for front-end development of PrimarySite's
    market-leading (&gt;13% share) CMS, video sharing platform, and related
    products for primary schools using Babel (ES6/7), Facebook's Immutable and
    React, Redux, and webpack; unit testing with Enzyme, Jest et al; back-end
    development for asynchronous server-side rendering using Node.js/Express
    and occasional bug-fixing and troubleshooting in Python/Django; consuming
    RESTful APIs using WhatWG Fetch and mocking with fetch-mock and nock;
    uploading files to Amazon S3 using EvaporateJS; providing ad-hoc assistance
    to QAs (Java/Selenium). Conducting regular one-on-ones with team members
    and appraising individual and team performance. Reviewing PRs and providing
    suggestions for improving code quality to both colleagues and third-party
    solutions providers. Participating in deployments. Former member of the
    company's DQI committee responsible for advising on design, quality, and
    innovation; helping facilitate PrimarySite's technical knowledge-sharing
    event "Show and Tell" and the occasional Agile ceremony; delivering a
    workshop on software engineering excellence at
    <a href="http://siliconforest.org.uk/">Silicon Forest</a> and co-delivering
    a talk "React &amp; Redux from the Trenches" at the NottsJS meetup;
    attending technical and non-technical conferences (Render Conf, NAS
    Pathological Demand Avoidance, ScotlandJS, DjangoCon Europe, etc); skills
    matrix creation, interviewing prospective team members, and
    coaching/mentoring colleagues.
  </p>
  <p>
    <span class="experience__title">Software Engineer</span><br />
    <span class="experience__company">Inviqa (formerly Ibuildings UK)</span><br />
    <span class="experience__from-to">Apr 2011&mdash;Dec 2014 - 3 yrs 10 mos</span><br />
    <span class="experience__location">Sheffield, South Yorkshire, UK</span>
  </p>
  <p>
    Member of numerous Agile software development teams, frequently fulfilling
    a front-end developer's role though with some occasional back-end
    responsibilities (full stack); providing software development services to
    organisations of all sizes; front-end automation and tooling experience
    using Bower and Grunt, along with optimisation and performance tuning
    skills; RWD using Twitter Bootstrap and Zurb's Foundation and occasional
    responsible delivery using Moovweb; knowledge of design patterns, OO,
    modern JavaScript; common frameworks/libraries including AngularJS (1),
    Jasmine, jQuery, PhoneGap, QUnit, RequireJS, Sass, etc; some exposure to
    the Symfony2 PHP framework, with specific emphasis on Twig; utilisation of
    common PHP templating engines; working knowledge of many HTML5 APIs.
    Creating and delivering presentations on authoring jQuery plugins and how
    to create offline apps; supplying software estimates as part of pre-sales
    involvement; utilising soft skills as necessary; attending
    industry-relevant conferences (Handheld, Scotch on the Rocks, etc).
    Demerged from Ibuildings Netherlands to form Inviqa in May 2012.
  </p>
  <p>
    <span class="experience__title">Software Engineer</span><br />
    <span class="experience__company">Derbyshire County Council</span><br />
    <span class="experience__from-to">Jun 2007&mdash;Apr 2011 - 3 yrs 11 mos</span><br />
    <span class="experience__location">Matlock, Derbyshire, UK</span>
  </p>
  <p>
    Lastly: Assigned to the Core Systems Project, replacing the organisation's
    ageing IBM Mainframe and ADABAS Natural programs with SAP ERP. Primarily
    responsible for the implementation and administration of SAP NetWeaver
    Portal used by approximately 7,500 members of staff accessing ESS, MSS,
    and BW reporting. Also responsible for Enterprise Application Integration.
  </p>
  <p>
    Previously: Active member of a nine-strong Scrum Team, employing Agile
    Software Development principles and techniques for a period of 15 months,
    whilst rewriting DCC's schools finance project and aligning CAYA ICT's
    project approach with the Agile Unified Process; researching alternative
    approaches to systems implementation and suggesting performance
    enhancements across the entire SDLC. Designated Ambassador for Code
    Generation, producing and delivering presentations on both code generation
    tools and n-tier software architecture to other interested parties within
    DCC.
  </p>
  <p>
    Originally: Fixed-term contract, assisting the Local Authority with systems
    design and .NET development of a Web-based solution to fulfil the
    requirements of the DCSF (formerly DfES) School Workforce Pilot Project.
    The School Workforce Census collection's primary aim is to provide
    comprehensive information on each member of staff present in all schools
    throughout the UK. Principal software engineer's role requiring systems
    analysis, database normalisation, and object-relational mapping tasks;
    drafting the functional specification and exposure to Agile software
    development processes; exercising interpersonal skills at meetings
    scheduled with DCSF, CAPITA, and school staff; providing in-house training.
    Deployed to approximately 400 Derbyshire schools.
  </p>
  <p>
    <span class="experience__title">IT Consultant (Auditing)</span><br />
    <span class="experience__company">Reed Professional Services</span><br />
    <span class="experience__from-to">Apr 2007&mdash;May 2007 - 2 mos</span>
  </p>
  <p>
    Auditing computer hardware and software at various First Group (the bus
    company) sites throughout Yorkshire on behalf of Wincor Nixdorf, in
    partnership with BT.
  </p>
  <p>
    <span class="experience__title">Freelance Software Engineer</span><br />
    <span class="experience__company">Self-employed trading as Dirigix&trade;</span><br />
    <span class="experience__from-to">Nov 2006&mdash;May 2007 - 7 mos</span>
  </p>
  <p>
    Providing software design &amp; development services to private clients.
  </p>
  <p>
    <span class="experience__title">IT Support Technician</span><br />
    <span class="experience__company">Mint Financial Services</span><br />
    <span class="experience__from-to">Jun 2004&mdash;Dec 2006 - 2 yrs 7 mos</span>
  </p>
  <p>
    Flexible role including some maintenance of the FAQ section on the
    company's intranet utilising HTML scripting and C programming skills;
    development of a computer asset management system using MySQL and Perl/CGI,
    hosted on the GNU/Linux platform; promotional flyer and e-mail newsletter
    hand-coded in HTML; recruitment database with SQL Server back-end and
    classic ASP user interface programmed in JavaScript. Additional software
    development as required by the company. Providing telephone and e-mail
    technical support to 240+ independent financial advisers located throughout
    the UK. Maintenance of laptops including replacement of faulty hardware
    components. Some administration of MS Windows 2000 Server and 2003 Server
    operating systems. Assisting intermediate computer users.
  </p>
  <p>
    <span class="experience__title">Junior Computer Programmer</span><br />
    <span class="experience__company">Chatsworth Computers &amp; Business
     Systems</span><br />
    <span class="experience__from-to">Mar 2003&mdash;Jun 2004 - 1 yr 4
     mos</span><br />
    <span class="experience__location">Chesterfield, Derbyshire, UK</span>
  </p>
  <p>
    Designing and actively implementing software modules for inclusion in a
    computerised warehouse distribution and business accounting system using
    Data Access Inc.'s DataFlex 4GL programming language. Other development
    using MS Visual Basic .NET creating applications linked to an ODBC data
    source. Experience gained in administering commercial UNIX operating
    systems and GNU/Linux platforms including FTP, Samba, and UUCP. Writing
    Bourne shell scripts, AWK, and Perl programs and C utilities for routine
    administration tasks. Overseeing and participating in "go-lives"; aiding
    the training department with the transition of a client's existing
    business system to that developed by the company.
  </p>
  <p>
    <span class="experience__title">Client Support Team Analyst</span><br />
    <span class="experience__company">Yorkshire Electricity</span><br />
    <span class="experience__from-to">Jan 2001&mdash;Dec 2001 - 12
     mos (university work placement)</span><br />
    <span class="experience__location">Leeds, West Yorkshire, UK</span>
  </p>
  <p>
    Providing IT technical support to employees of Yorkshire Electricity.
    Responsibilities including remote installation of software via a computer
    network using Novadigm Radia; troubleshooting of supported applications and
    pre-release testing; development of system tools/utilities for Windows NT
    and HP-UX, and producing technical documentation for their use.
  </p>
  <hr />
  <h3>Education</h3>
  <p>
    <span class="education__school">Sheffield Hallam University</span><br />
    <span class="education__degree-field-of-study">HND, Software
     Engineering</span><br />
    <span class="education__from-year-to-year">1999&mdash;2002</span>
  </p>
  <p>
    Consisting of separate units including, but not limited to, business data
    analysis, computer architecture and networks, mathematics for software
    construction, and professional and quantitative skills. Also, systems
    design using recognised methodologies and subsequent implementation in
    different programming languages such as C++, Java, and Visual Basic.
  </p>
  <p>
    <span class="education__school">Chesterfield College</span><br />
    <span class="education__degree-field-of-study">Advanced GNVQ, Information
     Technology</span><br />
    <span class="education__from-year-to-year">1997&mdash;1999</span>
  </p>
  <hr />
  <h3>Volunteer Experience</h3>
  <p>
    <span class="volunteer-experience__role">WebFWD Scout</span><br />
    <span class="volunteer-experience__organisation">Mozilla Corporation</span><br />
    <span class="volunteer-experience__date">Dec 2011 - 1 mo</span><br />
    <span class="volunteer-experience__cause">Science and Technology</span>
  </p>
  <p>
    Responsible for pinpointing and liaising with prospective candidates for
    Mozilla's open innovation programme.
  </p>
  <hr />
  <h3>Skills</h3>
  <ul>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>CSS</li>
  </ul>
  <h4>Industry Knowledge</h4>
  <ul>
    <li>Agile Methodologies</li>
    <li>Sofware Development</li>
    <li>Web Applications</li>
    <li>Web Development</li>
    <li>Design Patterns</li>
    <li>Scrum</li>
    <li>Test-Driven Development</li>
    <li>Object-Oriented Programming (OOP)</li>
  </ul>
  <h4>Tools &amp; Techniques</h4>
  <ul>
    <li>MySQL</li>
    <li>HTML5</li>
    <li>Microsoft SQL Server</li>
    <li>jQuery</li>
    <li>Backbone.js</li>
    <li>Django</li>
    <li>Python</li>
    <li>Node.js</li>
    <li>React.js</li>
    <li>HTML</li>
    <li>Cascading Style Sheets (CSS)</li>
  </ul>
  <h4>Interpersonal Skills</h4>
  <ul>
    <li>Mentoring</li>
    <li>Leadership</li>
  </ul>
  <h4>Other Skills</h4>
  <ul>
    <li>Express.js</li>
    <li>Flux</li>
    <li>Innovation</li>
    <li>Intrapreneurship</li>
  </ul>
  <h4>Courses</h4>
  <ul>
    <li>Advanced CSS (delivered by Harry Roberts of csswizardry.com)</li>
    <li>Agile [PHP] Developer</li>
    <li>CMI Level 3 First Line Management (course only)</li>
    <li>Focusing Creativity - Business Support for Creative Minds</li>
    <li>Introducing Kanban (delivered by Edward Kay of Tall Projects)</li>
    <li>Introduction to Agile Software Development (delivered by McKenna
     Consultants)</li>
    <li>JavaScript (Advanced) with Angular JS</li>
    <li>OO Design for Agile Projects</li>
    <li>PRINCE2 Foundation</li>
    <li>SAP NetWeaver Portal Fundamentals (SAPEP)</li>
    <li>SAP NetWeaver Portal System Administration (EP200)</li>
    <li>SRM-MDM Catalog Content Management 3.0 (SRM270)</li>
    <li>Teachers Training Course 1</li>
    <li>Teachers Training Course 2</li>
  </ul>
  {{!--<h4>Projects</h4>
  <p>...</p>
  <h4>Publications</h4>
  <p>...</p>--}}
  <h4>Certification</h4>
  <p>
    <span class="certification__name">Zend PHP 5.3 Certification</span><br />
    <span class="certification__credential-id">License ZEND016984</span><br />
    <span class="certification__issuing-organisation">Zend</span>
  </p>
  {{!--<h3>Interests</h3>
  <p>...</p>--}}
</div>
