<div class="container">
  <div class="row">
    <div class="column">
      <h1>{{title}}</h1>
      <p style="font-weight: bold">*** HEAVILY WORK-IN-PROGRESS ***</p>
      <p>
        Some years ago, an uncanny thing ("Day 1") happened to me.
      </p>
      <h2>Before "Day 1"</h2>
      <ul>
        <li>Improved diet, quit smoking</li>
        <li>Sleep-deprived (new baby)</li>
        <li>Increased caffeine consumption</li>
        <li>Involuntary leg jerks</li>
        <li>Crawling/itchy/tingling sensation in the fingers and palms of the
         hands</li>
        <li>Typically sat cross-legged on the sofa of an evening (and had done
         for the past three years)</li>
        <li>
          On one occasion, after consuming alcohol, [somehow] fell asleep
          sitting cross-legged
          <ul>
            <li>Awoke some time later still sitting, head was tilted heavily to
             the right</li>
          </ul>
        </li>
        <li>Bruised ego related to an incident in the workplace</li>
        <li>A couple of days illness not immediately prior to the ego-bruising
         event; flu-like symptoms but very short-lived</li>
        <li>No meds.</li>
      </ul>
      <h2>"Day 1"</h2>
      <ul>
        <li>I drove to work; mood was pensive</li>
        <li>Suspicion that part of me was dying, and I was OK with that;
         additionally, I had the good fortune to believe that regardless of what
         was happening to me, everything was ultimately going to be alright</li>
        <li>Conclusion that "my way of being (at that specific time in my life)
         was not working out for me"</li>
        <li>Binocular to monocular vision (think Venn diagram merging to single,
         unified circle)</li>
        <li>Steady expansion of the most brilliant white light all around me
         (full 360 degrees)</li>
        <li>A sense of me (body) as me,
          <ul>
	    <li>a sense of me (body) and the car that was being driven as
             me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible Sheffield
             extending to the horizon as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible and invisible
             Sheffield as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible and invisible
             Sheffield and the entire Earth as me,</li>
	    <li>no differentiation between me and not me (between self and
             other); oneness</li>
	    <li>I, the cosmos</li>
          </ul>
        </li>
        <li>Zero comprehension of time (timeless)</li>
        <li>360-degree awareness (omnipresence)</li>
        <li>From brilliant white light to 360-degree awareness must have taken
         no more than a few seconds (because the car did not crash)</li>
        <li>Overwhelming sensations of bliss, grace, and supreme peace (an
         initial overcoming coupled with relief)</li>
        <li>Confusion, reserved excitement, and sense of achievement</li>
        <li>First signs of otherworldliness appear</li>
        <li>Visible colours were more intense than they had been before</li>
        <li>A fog had lifted and my eyesight seemed to improve significantly
         (crisp, sharp, vivid)</li>
        <li>Like walking on air</li>
        <li>Concern over whether I would be able to work effectively or not</li>
        <li>Took time out for breakfast at McDonalds on my way to the office
         (something I wouldn't have ordinarily done)</li>
        <li>Began to reflect on what had happened</li>
        <li>I made new associations and noticed relationships which I had
         previously been unaware of (free association)</li>
        <li>Mild paranoia; like I had experienced something that I wasn't
         supposed to experience and the possibility that others might cause me
         harm if I openly talked about it (police car drive thru)</li>
        <li>Discussion with my line manager</li>
        <li>Manic behaviour, animated, very talky</li>
        <li>Essentially rattled off as many of the things that I could think of
         which might, in some way, have been a factor in triggering my
         experience (better to have two minds working out WTF was going on than
         just one)</li>
        <li>I have minor recollection of explaining to my line manager what I
         had actually experienced</li>
        <li>Remember talking about possessing the ability to move backwards and
         forwards in time (this was more projection/future prediction, not actual
         physical time travel)</li>
        <li>Talked about how my father was an architect and how he kept
         conceptual models of buildings in his head
          <ul>
	    <li>And how he had to determine where wiring was routed,
             thoroughfares, which direction doors should open, etc.</li>
	    <li>Complying with building regulations, site safety, etc.</li>
          </ul>
        </li>
        <li>Requested a few days off which was granted instantly</li>
        <li>Walked slowly back to the car (activity felt effortless)</li>
        <li>Wondered what my wife might say about me returning home from work
         far earlier than usual</li>
        <li>Gave consideration to contacting a medical professional
          <ul>
            <li>Concluded that even though medical professionals had become
             experts in practicing medicine, they still did not necessarily know
             me better than I knew myself; resolved to become an expert on
             [being] me.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>Texted my line manager, informing him that I was now whole and that
         he should contact whomever</li>
        <li>Drove home to my wife; she was understandably surprised to see me
         home from work so soon</li>
        <li>I explained only very briefly what had happened to me</li>
        <li>She suggested that I meet with a doctor, to which I agreed without
         hesitation</li>
        <li>No appointments available at my local surgery so went to the GP out
         of hours service (PC24)</li>
        <li>Met with a doctor</li>
        <li>Gave him some information but was mindful of the potential
         repercussions of sharing too much</li>
        <li>He checked me over, noted signs of acute stress</li>
        <li>Strongly encouraged to relax and sent away with a requirement of
         self-referral to mental health services (crisis team or watevs)</li>
        <li>My wife said I should spend a few days with my parents, to rest and
         unwind</li>
        <li>No meds.</li>
      </ul>
      <h2>After "Day 1"</h2>
      <p>
        Convalescing at my parents' house. It is the day after "Day 1".
      </p>
      <ul>
        <li>Remained with my parents for a couple of days, during which time I
         experienced some unusual phenomena
        <li>Strong recollection of infant life</li>
        <li>Kriyas and mudras begin (arms, when placed naturally at the side of
         my body, begin to rise without conscious effort; automatic hand
         gestures)</li>
        <li>Began trawling the Internet (WTAFF was going on?!)</li>
        <li>MBTI resurfaces; INxJ, third-stage</li>
        <li>Non-sexual excitation in the perineum, towards the very bottom of
         the spine (root chakra)</li>
        <li>Sensing an unseen presence; I became, at least for a while,
         predominantly clairsentient with shades of clairempathy</li>
        <li>Dark night of the soul, helplessness, and deep, deep meaninglessness
         (what's the point to anything?)</li>
        <li>Remained awake almost all night</li>
        <li>On waking: a not unpleasant catatonia (became my resting state)</li>
        <li>Eventually felt rested enough to return home maybe 3 days
         later</li>
        <li>Dante's Inferno, "midway along the road of our life"</li>
        <li>No meds.</li>
      </ul>
      <h2>Returned Home</h2>
      <ul>
        <li>A pervading sense of "my destiny fulfilled", like I had finally
         achieved that which I was always destined to achieve given my life
         path (blueprint/disposition)</li>
        <li>Some fleeting correspondence with HR, mostly along the lines of
         asking for forgiveness should my self-perceived genius not
         <em>actually</em> prove to be a thing</li>
        <li>A little about birth dates and the Cusp of Revolution,
         astrology</li>
        <li>Having "found myself" (or "on becoming whole") felt very much like a
         revolutionary act; subversive, and potentially in direct conflict with
         the status quo, especially with Western societal norms</li>
        <li>E-mailed a select few authorities at work, typically rather early in
         the morning</li>
        <li>LIBERATION! I am extinguished (snuffed out)</li>
        <li>Immense sense of relief; like I'd had the weight of <em>my</em>
         entire world lifted off <em>my</em> shoulders</li>
        <li>Explicitly mentioned "enlightenment" in an e-mail containing the
         single question: "Where to, from enlightenment?"</li>
        <li>John Nash came to mind (no pun intended)</li>
        <li>And schizophrenia, and... psychosis</li>
        <li>I had begun to consider the possibility that I might be rather
         intelligent; for the vast majority of my life I had felt quite stupid
         (or had been made to feel quite stupid), a little like I had missed a
         trick that everyone else I met appeared to have acknowledged and
         integrated long ago</li>
        <li>Widespread paranoia as a result of making wild and, sometimes more
         frighteningly, wildly accurate associations; interconnectedness
         everywhere and endless possibilities</li>
        <li>No meds.</li>
      </ul>
      <h2>Hierarchy of Needs</h2>
      <ul>
        <li>Maslow, Maslow, Maslow</li>
        <li>Trawled the Internet and became Maslow's #1 fanboy for a time</li>
        <li>I read Maslow's Religions, Values, and Peak-Experiences over a
         couple of days</li>
        <li><em>'According to Maslow there are 2 types of "peak" experiences
         &mdash; the relative and the absolute. Relative experiences
         characterize those peak experiences in which there remains an
         awareness of subject and object, and which are thus extensions of the
         individual's own experiences.'</em></li>
        <li><em>'There is a peak experience beyond the relative, the Absolute,
         which according to Maslow "are characteristic of mystical experiences,
         and are comparable to the experiences of the great mystics in history.
         <span style="font-weight: bold">They are timeless, spaceless, and
         characterized by unity, in which the subject and object become
         one.</span>"'</em></li>
        <li>Decided that Maslow's description of absolute peak experience was
         exactly what I had experienced</li>
        <li>Concluded that if I'd had an absolute peak experience that I was
         firstly immensely fortunate and secondly that apparently my higher
         needs had been and/or must now be frequently met</li>
        <li>Consulted Maslow's five-level hierarchy of needs and corresponding
          diagram
          <ul>
            <li>The five-level version is sadly the most widely popularised
             version of Maslow's hierarchy of needs</li>
            <li>More on why this is both relevant and sad later on</li>
          </ul>
        </li>
        <li>Felt that I possessed many but not all of the characterisitics
         exhibited by Maslow's "self-actualizers" (self-actualised persons)</li>
        <li>Returned to work and shared at least some of my findings</li>
        <li>My perception of how I was treated at work was different to how it
         was before "Day 1"</li>
        <li>It's very much worth mentioning that I could not have asked for a
         better employer throughout</li>
        <li>Humbled... but only for a time</li>
        <li>I was [un]knowingly fluctuating between levels (conflict, split)
          <ul>
            <li>First self-acknowledgement of [oceanic] liminality</li>
          </ul>
        </li>
        <li>Self-actualising needs were met for a time and I enjoyed a period
         of intense mental wellness</li>
        <li>That ended when I began to feel conflicted</li>
        <li>My self-esteem needs were on the decline</li>
        <li>Confusion; how could it be that my newfound way of being was
         steadily slipping away from me?
          <ul>
            <li>See Adyashanti's description of "I got it/I lost it"
             phenomenon</li>
          </ul>
        <li>Whilst Maslow's description of absolute peak experience was a good
         fit for my experience ("Day 1") of oneness, it did not explain many of
         the other phenomena like the kriyas and mudras, etc.</li>
        <li>Ego, and inflation thereof
          <ul>
            <li>Andrew is a dickhead for a very long while</li>
            <li>Ego: the growth inhibitor</li>
          </ul>
        </li>
        <li>Spiritual emergenc(e/y)
          <ul>
            <li>Or, when good things go bat-shit crazy</li>
          </ul>
        </li>
        <li>No meds.</li>
      </ul>
      <h2>More Phenomena</h2>
      <ul>
        <li>The need to contort my body into various positions, stretching and
         loosening</li>
        <li>Breathless, prolonged, and effortless monosyllabic utterances
         (AUM); startled awake</li>
        <li>Nicolino: a name carved into stone seen in a dream; initially
         my HGA, then higher self, then [the new] me; became one of many
         [spirit] guides until I became it</li>
        <li>Whilst coming out of slumber: an androgyne figure of pure brilliant
         white light sat on a throne; projecting serene peace yet authority</li>
        <li>The bang of a gong or: the long drawn out bell sound
          <ul>
            <li>This coincided with the departure (my overcoming) of pride</li>
          </ul>
        </li>
        <li>Vivid dreams; generally I was providing assistance/support to others
         in need</li>
        <li>Affinity with nature and an interpretation of the green language;
         bird symbology featured extensively during this period, especially the
         peacock</li>
        <li>Internally "heard" words appearing as thoughts punctuating periods
         of "no thought"; they simply appeared out of nowhere; Sai Baba</li>
        <li>Flashes of light, frequently drawing my attention to something
         (mostly numbers) within my peripheral vision</li>
        <li>Frequent clairsentient encounters with the dead; helping them
         through transition, providing reassurance
          <ul>
            <li>Trickster archetype</li>
            <li>Psychopomp: guide of souls</li>
            <li>Border crossing</li>
            <li>Egyptian and Tibetan Books of the Dead</li>
            <li>Death as a state transition</li>
            <li>I still fulfill this role, but increasingly more often for the
             living than the dead</li>
          </ul>
        </li>
        <li>"Seeing" (visual hallucination?) the shade of a friend's deceased
         canine companion</li>
        <li>On meditating, sometimes saw a white/blue dot and on other occasions
         saw... spiral galaxies from an elevated perspective, far out in deep
         space</li>
        <li>Tones of varying frequencies "heard" in the head, predominantly just
         left and back of the centre of my skull; the unstruck sound, music of
         the spheres</li>
        <li>Shadow figures that I sometimes treated with respect and at other
         times with contempt</li>
        <li>Hushed whispers; unable to make out any actual words and frequently
         perceived as coming from behind me, often preceding a period of
         paranoia</li>
        <li>Lay on my back, eyes closed, reclining on the sofa: witnessed
         multiple block colours that ranged across the light spectrum;
         extremely vivid hues</li>
        <li>No meds.</li>
      </ul>
      <h2>A Serpent Stirs</h2>
      <ul>
        <li>As previously mentioned, Maslow's hierarchy of needs only got me so
         far; so what next?
          <ul>
	    <li>I came across Maslow's Theory Z</li>
	    <li>Here he makes reference to two kinds of self-actualizing people:
             "peakers" and "non-peakers"</li>
	    <li>Based on my "Day 1" experience, I knew that I was a
             "peaker"</li>
            <li>In Maslow's later years, he expanded his original hierarchy of
             needs to extend beyond self-actualization</li>
            <li>People that had moved beyond self-actualization, he called
             "transcenders"</li>
          </ul>
        </li>
        <li>By now it had become apparent to me that I was undertaking an inner
         journey of self-transformation; what Jung would refer to as "the
         process of individuation"</li>
        <li>As my inner journey progressed, I experienced physical sensations
         throughout the entire length of my spine, and into and above my
         head</li>
        <li>Here I must make mention of something that sadly very few people are
         fortunate enough to have directly or knowingly experienced</li>
	<li>And that thing is <em>Kundalini</em></li>
        <li>Kundalini is a subtle energy of [pro]creative origin</li>
        <li>Once awakened, it must be borne upwards through the vertebrae of the
         spinal column, unblocking chakras as it rises</li>
        <li style="font-weight: bold">Differing interpretations of the
         Kundalini Awakening process by different people throughout history is
         most likely the common source of all religious thought</li>
        <li>Kundalini is a powerful force for expanding your consciousness</li>
        <li>And Kundalini makes geniuses out of halfwits</li>
        <li>Tesla makes mention of Kundalini...
          <ul>
	    <li><em>"The knowledge of how the mental and vital energy transform
             into what we want, and achieve control over all feelings. Hindus
             call it Kundalini Yoga. This knowledge can be learned, for that
             they need many years or it is acquired by birth. The most of them I
             acquired by birth. They are in the closest connection with a sexual
             energy that is after the most widespread in the Universe. The woman
             is the biggest thief of that energy, and thus the spiritual power.
             I've always known that and was alerted. Of myself I created what I
             wanted: a thoughtful and spiritual machine."</em></li>
          </ul>
        </li>
        <li>No meds.</li>
      </ul>
    </div>
  </div>
</div>
