<div class="container">
  <div class="row">
    <div class="column">
      <h1>{{title}}</h1>
      <p style="font-weight: bold">*** HEAVILY WORK-IN-PROGRESS ***</p>
      <p>
        Some years ago, an uncanny thing ("Day 1") happened to me.
      </p>
      <h2>Before "Day 1"</h2>
      <ul>
        <li>Improved diet, quit smoking</li>
        <li>Sleep-deprived (new baby)</li>
        <li>Increased caffeine consumption</li>
        <li>Involuntary leg jerks</li>
        <li>Crawling/itchy/tingling sensation in the fingers and palms of the
         hands</li>
        <li>Typically sat cross-legged on the sofa of an evening (and had done
         for the past three years)</li>
        <li>
          On one occasion, after consuming alcohol, [somehow] fell asleep
          sitting cross-legged
          <ul>
            <li>Awoke some time later still sitting, head was tilted heavily to
             the right</li>
          </ul>
        </li>
        <li>Bruised ego related to an incident in the workplace.</li>
      </ul>
      <h2>"Day 1"</h2>
      <ul>
        <li>I drove to work; mood was pensive</li>
        <li>Suspicion that part of me was dying, and I was OK with that;
         additionally, I had the good fortune to believe that regardless of what
         was happening to me, everything was ultimately going to be alright</li>
        <li>Conclusion that "my way of being (at that specific time in my life)
         was not working out for me"</li>
        <li>Binocular to monocular vision (think Venn diagram merging to single,
         unified circle)</li>
        <li>Steady expansion of the most brilliant white light all around me
         (full 360 degrees)</li>
        <li>A sense of me (body) as me,
          <ul>
	    <li>a sense of me (body) and the car that was being driven as
             me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible Sheffield
             extending to the horizon as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible and invisible
             Sheffield as me,</li>
	    <li>a sense of me (body) and the car that was being driven and the
             street it was being driven down and all of visible and invisible
             Sheffield and the entire Earth as me,</li>
	    <li>no differentiation between me and not me (between self and
             other); oneness</li>
	    <li>I, the cosmos</li>
          </ul>
        </li>
        <li>Zero comprehension of time (timeless)</li>
        <li>360-degree awareness (omnipresence)</li>
        <li>From brilliant white light to 360-degree awareness must have taken
         no more than a few seconds (because the car did not crash)</li>
        <li>Overwhelming sensations of bliss, grace, and supreme peace (an
         initial overcoming coupled with relief)</li>
        <li>Confusion, reserved excitement, and sense of achievement</li>
        <li>First signs of otherworldliness appear</li>
        <li>Visible colours were more intense than they had been before</li>
        <li>A fog had lifted and my eyesight seemed to improve significantly
         (crisp, sharp, vivid)</li>
        <li>Like walking on air</li>
        <li>Concern over whether I would be able to work effectively or not</li>
        <li>Took time out for breakfast at McDonalds on my way to the office
         (something I wouldn't have ordinarily done)</li>
        <li>Began to reflect on what had happened</li>
        <li>I made new associations and noticed relationships which I had
         previously been unaware of (free association)</li>
        <li>Mild paranoia; like I had experienced something that I wasn't
         supposed to experience and the possibility that others might cause me
         harm if I openly talked about it (police car drive thru)</li>
        <li>Discussion with my line manager</li>
        <li>Manic behaviour, animated, very talky</li>
        <li>Essentially rattled off as many of the things that I could think of
         which might, in some way, have been a factor in triggering my
         experience (better to have two minds working out WTF was going on than
         just one)</li>
        <li>I have minor recollection of explaining to my line manager what I
         had actually experienced</li>
        <li>Remember talking about possessing the ability to move backwards and
         forwards in time (this was more projection/future prediction, not actual
         physical time travel)</li>
        <li>Talked about how my father was an architect and how he kept
         conceptual models of buildings in his head
          <ul>
	    <li>And how he had to determine where wiring was routed,
             thoroughfares, which direction doors should open, etc.</li>
	    <li>Complying with building regulations, site safety, etc.</li>
          </ul>
        </li>
        <li>Requested a few days off which was granted instantly</li>
        <li>Walked slowly back to the car (activity felt effortless)</li>
        <li>Wondered what my wife might say about me returning home from work
         far earlier than usual</li>
        <li>Gave consideration to contacting a medical professional
          <ul>
            <li>Reasoned that if medical professionals have become experts in
             practicing medicine then I could become an expert on [being]
             me</li>
          </ul>
        </li>
      </ul>
      <h2>After "Day 1"</h2>
      <p>
        To be continued...
      </p>
    </div>
  </div>
</div>
