/* Custom page CSS (sticky-footer-navbar.css)
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  /*padding: 60px 15px 0;*/
  padding: 10px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Override Bootstrap */
a,
a:active,
a:visited,
a.header__title.navbar-brand,
a.header__title.navbar-brand:active,
a.header__title.navbar-brand:visited {
  color: #9b4dca;
}

a:hover,
a.header__title.navbar-brand:hover {
  color: hsl(277, 54%, 40%);
  text-decoration: none;
}

body {
  color: #606c76;
}

hr {
  border-top: 0.1rem solid #d9dcdf;
}

ul {
  list-style: circle;
}

/* Site defaults */
pre {
  overflow: auto;
}

/* Pre-holy grail layout */
.bold {
  font-weight: 700;
}

/* Holy grail layout */
.footer {
  font-size: 0.75rem;
  text-align: center;
}

/* Header and social icons */
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.social-icons {
  flex-direction: row;
  font-family: flat-icons;
}

.social-icons__list-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Quotation */
.header__quotation {
  background-image: url(https://res.cloudinary.com/ipseity/image/upload/v1531754646/1500x500_c3qo0e.jpg);
  background-position: 0 -30px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ddd;
  font-family: "Times New Roman", serif;
  height: 140px;
  margin-top: 48px;
  position: relative;
}

.quotation__blockquote {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 0.3rem solid #d1d1d1;
  bottom: 1rem;
  display: inline-block;
  left: 2rem;
  margin: 0;
  padding: 0.5rem 1.5rem;
  position: absolute;
  text-shadow: 1px 1px 1px #000;
}

.quotation__text {
  margin: 0;
}

.quotation__attribution {
  color: #ca9b4d;
  font-size: 0.75rem;
  margin-bottom: 0;
  text-align: right;
}

.profile {
  text-align: center;
}

.profile__avatar {
  padding-top: 0.4rem;
}

.profile__fullname {
  margin: 0;
}

.profile__username {
  font-size: 0.75rem;
}

@media screen and (max-width: 767px) {
  .profile {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .quotation__blockquote {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .header__quotation {
    background-position: 0 -15px;
    height: 120px;
  }
}

/* LinkedOut profile */
.recruiters {
  color: hsl(207, 10%, 22%);
}

.intro__name {
  font-size: 3.6rem;  /* XXX */
}

.experience__title,
.education__school,
.volunteer-experience__role {
  font-size: 2.2rem;  /* XXX */
}

.intro__headline,
.experience__company,
.education__degree-field-of-study,
.volunteer-experience__organisation,
.certification__name {
  color: hsl(207, 10%, 32%);
  font-size: 1.8rem;
}

.intro__current-position,
.experience__from-to,
.experience__location,
.education__from-year-to-year,
.volunteer-experience__date,
.volunteer-experience__cause,
.certification__credential-id,
.certification__issuing-organisation {
  color: hsl(207, 10%, 52%);
}
