a:hover,
.navigation a.button:hover {
  color: hsl(277, 54%, 40%);
}

.navigation a.button.button-outline:hover {
  border-color: hsl(277, 54%, 40%);
}

body {
  padding: 2.4rem;
}

pre {
  overflow: auto;
}

.ajbkr-com {
  display: inline-block;
  width: 48%;
}

.social-icons {
  display: inline-block;
  font-family: flat-icons;
  text-align: right;
  width: 48%;
}

.bold {
  font-weight: 700;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

.navigation {
  padding: 1.5rem;
}
