/* Override Milligram */
.container {
  max-width: none;
}

a:hover,
.navigation a.button:hover {
  color: hsl(277, 54%, 40%);
}

/* Site defaults */
body {
  padding: 2.4rem;
}

pre {
  overflow: auto;
}

/* Pre-holy grail layout */
.ajbkr-com {
  display: inline-block;
  width: 48%;
}

.social-icons {
  display: inline-block;
  font-family: flat-icons;
  text-align: right;
  width: 48%;
}

.bold {
  font-weight: 700;
}

/* Holy grail layout */
.layout__footer {
  font-size: 1rem;
  grid-area: footer;
  text-align: center;
}
.layout__header { grid-area: header; }
.layout__left   { grid-area: left; }
.layout__main   { grid-area: main; }
.layout__right  { grid-area: right; }

.layout {
  display: grid;
  grid-template-areas: "header header header"
                       "left main right"
                       "footer footer footer";
  grid-template-columns: 160px 1fr 160px;
  grid-template-rows: 160px
                      1fr
                      40px;
  min-height: 100vh;
}

.navigation ul {
  list-style: none;
  padding-top: 0.4rem;
}

.navigation__item--active {
  border-bottom: 1px dotted;
  padding-bottom: 2px;
}

@media screen and (max-width: 639px) {
  .layout {
    grid-template-areas: "header"
                         "left"
                         "main"
                         "right"
                         "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px
                        120px
                        1fr
                        40px
                        40px;
  }

  .header__quotation { display: none; }
}
