<div class="container">
  <h1>{{title}}</h1>
  <h2>WiFi-controlled Rover with Arduino</h2>
  <p>
    This was my Summer 2017 project.
  </p>
  <table>
    <tr>
      <th>Mega 2560</th>
      <th>ESP8266 module</th>
      <th>74LVC245</th>
      <th>L298N module</th>
    </tr>
    <tr>
      <td>2 (PWM)</td>
      <td />
      <td />
      <td>ENA</td>
    </tr>
    <tr>
      <td>3 (PWM)</td>
      <td />
      <td />
      <td>ENB</td>
    </tr>
    <tr>
      <td>18 (TX1)</td>
      <td />
      <td>2 (A1)</td>
      <td />
    </tr>
    <tr>
      <td>19 (RX1)</td>
      <td>TX</td>
      <td />
      <td />
    </tr>
    <tr>
      <td>30</td>
      <td />
      <td />
      <td>IN2</td>
    </tr>
    <tr>
      <td>31</td>
      <td />
      <td />
      <td>IN1</td>
    </tr>
    <tr>
      <td>32</td>
      <td />
      <td />
      <td>IN4</td>
    </tr>
    <tr>
      <td>33</td>
      <td />
      <td />
      <td>IN3</td>
    </tr>
    <tr>
      <td />
      <td>RX</td>
      <td>18 (B1)</td>
      <td />
    </tr>
  </table>
  <ul>
    <li>AMS1117 5V to 3.3V regulator</li>
    <li>Arduino-compatible Mega 2560 clone</li>
    <li><a href="https://bblanchon.github.io/ArduinoJson/">ArduinoJson
     JSON library</a></li>
    <li>ESP8266 WiFi module</li>
    <li>L298N dual H-bridge motor controller (12V)</li>
    <li>Raspberry Pi 3</li>
    <li><a href="https://github.com/smrchy/rsmq">Redis Simple Message
     Queue</a> and RESTful API</li>
  </ul>
  <h2>Home Automation with Arduino and Raspberry Pi</h2>
  <p>
    This was my Winter project; automate all the things!
  </p>
  <ul>
    <li>433MHz remote control mains sockets</li>
    <li>Arduino-compatible Uno clone</li>
    <li><a href="http://expressjs.com/">Express Web framework</a></li>
    <li><a href="http://johnny-five.io/">Johnny-Five robotics and IoT
     platform</a></li>
    <li>LM35 temperature sensor module</li>
    <li>Raspberry Pi 3</li>
  </ul>
</div>
