<div class="container">
  <h1>{{title}}</h1>
  <ul>
    <li><a href="/projects/assembly-language">Assembly Language</a></li>
  </ul>
  <ul>
    <li><a href="/projects/electronics">Electronics</a></li>
  </ul>
</div>
